*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5% ;
    font-family: Arial, Helvetica, sans-serif;
}

header{
   
    background-size: cover;
    font-style: italic;
    padding: 0 0 40px 0;
    background-image: url(../images/images.jpeg);
    background-repeat: repeat-x;
    background-position: center;
   
}
header img{
    width: 75px;

}
header ul{
    position: absolute;
    top: 10px;
    right: 10%;
    display: flex;
    list-style: none;
}

header ul a{
    display: block;
    padding: 20px;
    background-color: rgba (255,255,0,5);
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 30px;
}
header ul a:hover{
    background-color: rgba(142, 21, 21, 0.466);
    color: white;
  
}
header button{
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    text-transform: uppercase;

}
header button:hover{
    background-color: green;
    color: white;
    cursor: pointer;

}
 
h1{
    font-size: 60px;
}
h2{
    font-size: 38px;
    padding-bottom: 2rem;
    text-align: end;
    background-color: rgb(202, 154, 195);
    color: white;
    
}
h3{
    text-align: center;
    margin: 40px 0;
    font-size: 70px;
   color: rgb(25, 73, 25);

}
h4{
    font-size: 40px;
    text-align: center;
    line-height: 24px;
    padding-bottom: 50px;
    color: cadetblue;
}

.contenedor{
    width: 100%;
    max-width: 2000px;
    margin: auto;
    position: relative;

}
h1,h2,h3,h4{
    font-family: 'Mingzat', sans-serif;
}

section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;   
}

section div{
    flex-grow: 1;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;

}
section div img{
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
}
footer{
    background-color: rgb(193, 222, 193);
    padding: 20px 0;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}


.icon{
    width: 75px;
    height: 75px;

}

img{
    width: 100%;
    margin-top: 10px;
}

.row{
    display: flex;
    flex-direction: row;
    align-items:  center;
    padding: 10px;
}
.hijo{
    padding: 10px;
}

.center{
    text-align: center;
   font-size: 40px;
   color: rgb(79, 127, 79);
   font-family: cursive;

}

.cuidados{
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
}

.footer{
    font-size: 55px;
    font-family: cursive;
}
main{
    font-size: 85px;
    padding-top: 10px;
    padding-left: 80px;
    font-family: fantasy;
    
}

.uno{
    font-size: 50px;
    text-align: justify;
    justify-content: left;
    padding-top: 50px;
    margin-top: 60px;
    padding-left: 100px;
    background-color: blanchedalmond;
   font-family: fantasy;
}

.metodos{

   display: flex;

   font-size: 65px;
   text-align: justify;
   padding-left: 5%;
   padding-right: 5%;
   margin-top: 5%;
   background-color:beige;
    
}

.reproduccion{
    font-size: 68px;
    padding-top: 80px;
    padding-left: 80px;
    font-family: fantasy;
    background-color: bisque;
    
}

.repro{
    border-radius: 80px;
    padding: 5px;
    max-height: 100%;
    height: auto;
    display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  
}

.bs{
    font-size: 70px;
    text-align: center;
    background-color: rgb(131, 106, 157);
    color: aliceblue;
    font-family: cursive;
}
